.booking-wrapper{
  display: flex;
  justify-content: center;
}

/* .booking-wrapper div{
  border: 1px solid red;
} */

.book-table {
  /* border: 1px dashed red; */
  padding-top: 80px;
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-table-form{
  /* position: absolute;
  top: 0;
  right: 0; */
  width: 50%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .book-table{
    width: 100%;
  }
}