.card-container {
    display: flex;
    flex-wrap: wrap; /* Prevent wrapping of items */
    gap: 50px; /* Adjusted gap */
    justify-content: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px 0; /* Optional: add padding to prevent cards from touching the container edges */
  }
  
  .food-card {
    width: 230px;
    background-color: white;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .food-card:hover {
    transform: translateY(-10px);
  }
  
  .food-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .food-info {
    color: black !important;
    margin-top: 20px;
  }
  
  .food-info h3 {
    color: black;
    font-size: 16px;
    margin: 0px 10px 5px 10px;
    text-align: left;
  }
  
  .food-info p {
    color: black;
    margin: 5px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
  }
  
  .food-info div {
    color: grey;
    font-size: 10px;
    text-align: start;
    margin: 0px 0px 0px 10px;
  }
  
  .star {
    font-size: 18px;
    margin-right: 2px;
  }
  
  .star.full {
    color: rgb(255, 213, 0);
  }
  
  .star.empty {
    color: #ddd; /* Light gray for empty stars */
  }
  

  @media (max-width: 768px) {


    .card-container {
        flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS devices */
    }
  
    .food-card {
      flex-shrink: 0; /* Prevent cards from shrinking */
    }
  }
  